
body > .container {
    margin-top: 50px;
}

.profile-widget {
    line-height: 25px;
}

.profile-widget .gravatar {
    float: left;
    height: 40px;
    margin-right: 5px;
}

.profile-widget .gravatar img {
    height: 40px;
}

.profile-widget .logged-msg {
    font-size: small;
    margin: 0;
    padding: 0;
}

.profile-widget .action {
    font-size: small;
    float: left;
}

.login-widget dt, .login-widget dd {
    float: left;
    font-size: small;
}

.login-widget label {
    display: block;
}

.login-widget input {
    width: 100px;
}

.login-widget dd {
    margin: 0 5px;
}

.widget-examples {
    list-style-type: none;
}

.widget-examples > li {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    margin: 10px;
}

.widget-container {
    padding: 10px;
}